@mixin is-ie() {
  /* IE9, IE10, IE11 */
  @media screen and (min-width: 0\0) {
    @content;
  }
}

.wp-block-berggrunn-container {
  &.d-flex.justify-content-center.align-items-center {
    flex-direction: column;

    /*
    text-align: center;
    overflow: hidden;
    position: relative;
    display: table;
    vertical-align: middle;
    */

    // ie11 fix for vertical align center not working.
    @include is-ie() {
      &::after {
        /*
        content: '';
        display: block;
        min-height: inherit;
        font-size: 0;
        */
        content: "";
        display: table;
        clear: both;
        min-height: auto;
      }
    }
  }
}
