.wp-block-berggrunn-profile {
  input,
  textarea {
    font-family: 'Noto Serif', serif !important;
    width: calc(100% + 14px);
    margin-left: -14px;
    // margin-right: -14px;
    padding-left: 14px !important;
    padding-right: 14px !important;
    border-width: 0 !important;

    &.text-right {
      text-align: right;
    }

    &.text-center {
      text-align: center;
    }
  }

  input {
    font-weight: 600;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    margin-bottom: 0;

    &:focus {
      outline: none !important;// 1px solid #008dbe;
      box-shadow: none !important;// 0 0 0 2px #bfe7f3;
    }
  }

  textarea {
    font-size: 16px !important;
    margin-top: 0;
    padding-top: 4px !important;
    //margin-bottom: -22px !important;
    padding-bottom: 14px !important;
    line-height: 1.8;
    color: #444;
    resize: none;

    &:focus {
      outline: none !important;// 1px solid #008dbe;
      box-shadow: none !important;// 0 0 0 2px #bfe7f3;
    }
  }
}

.wp-block-berggrunn-profile__title {
  font-size: 1.5em !important;
  color: #23282d;
}

.wp-block-berggrunn-profile__subtitle {
  font-size: 1.25em !important;
  color: #bbb !important;
}

.wp-block-berggrunn-profile__imgWrap {
  min-height: 50px;
  background-color: #edeff0;
}

.wp-block-berggrunn-profile__img {
  display: block;
}

.wp-block-berggrunn-profile__mediaUploadWrap {
  // width: 175px;
  min-height: 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &.has-no-image {
    background-color: #edeff0;
  }
}

.blocktype-profile-block-alignment-inspector-controls,
.blocktype-profile-content-alignment-inspector-controls {
  .components-toolbar {
    margin-bottom: 0 !important;
  }
}
