.wp-block-berggrunn-profile {
  //
}

.wp-block-berggrunn-profile__component {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  // background-color: #fff !important;
  // color: #212529 !important;
}

.wp-block-berggrunn-profile__media {
  flex: 0 0 200px;
  // max-width: 25%;
}

.wp-block-berggrunn-profile__img {
  max-width: 100%;
  height: auto;
}

.wp-block-berggrunn-profile__title {
  // font-weight: 700;
}

.wp-block-berggrunn-profile__subtitle {
  color: #bbb;
  font-size: 1rem;
}

.wp-block-berggrunn-profile__body {
  // background-color: #fff;
  padding: 1rem;
  flex: 1 1 auto;
}
