.has-custom-background {
  &.has-background-video {
    position: relative;
    overflow: hidden;

    video {
      position: absolute;
      left: 50%;
      top: 50%;
      // The following will size the video to fit the full container.
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);
      z-index: 0;
    }
  }

  &.has-background-image {
    background-size: cover;
    background-position: 50% 50%;
  }

  &.has-parallax {
    background-attachment: fixed;
  }

  &.has-background-dim {
    position: relative;

    > * {
      position: relative;
      z-index: 2;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #000;
      background-color: var(--primary);
      opacity: 0.5;
      z-index: 1;
    }

    @for $i from 1 through 4 {
      &.has-background-dim-#{$i}0::before {
        opacity: $i / 10;
      }
    }

    @for $i from 6 through 10 {
      &.has-background-dim-#{$i}0::before {
        opacity: $i / 10;
      }
    }
  }
}
