.wp-block-berggrunn-collapsible {
  .contentTitle,
  .contentBody {
    font-family: 'Noto Serif', serif !important;
    width: calc(100% + 28px);
    margin-left: -14px;
    margin-right: -14px;
    padding-left: 14px !important;
    padding-right: 14px !important;
    border-width: 0 !important;

    &.text-right {
      text-align: right;
    }

    &.text-center {
      text-align: center;
    }
  }

  .contentTitle {
    font-size: 1.25em !important;
    font-weight: 600;
    margin-top: -14px;
    padding-top: 14px !important;
    padding-bottom: 4px !important;
    margin-bottom: 0;
    color: #23282d;

    &:focus {
      outline: none !important;// 1px solid #008dbe;
      box-shadow: none !important;// 0 0 0 2px #bfe7f3;
    }
  }

  .contentBody {
    font-size: 16px !important;
    margin-top: 0;
    padding-top: 4px !important;
    margin-bottom: -22px !important;
    padding-bottom: 14px !important;
    line-height: 1.8;
    color: #444;
    resize: none;

    &:focus {
      outline: none !important;// 1px solid #008dbe;
      box-shadow: none !important;// 0 0 0 2px #bfe7f3;
    }
  }

  .blockNameStyle {
    padding: 3px 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
}
