/* stylelint-disable no-duplicate-selectors, no-descending-specificity */

$gray-300: #dee2e6;

.wp-block-berggrunn-collapsible {
  + .wp-block-berggrunn-collapsible {
    padding-top: 0.25rem;
    margin-top: 0;
    border-top: 1px solid $gray-300;
  }
}

.wp-block-berggrunn-collapsible__toggler {
  &:hover {
    text-decoration: none;
    opacity: 0.8;
    display: block;
  }
}

.wp-block-berggrunn-collapsible__heading {
  padding-bottom: 0.45rem;
  padding-top: 0.45rem;
  margin: 0;
  position: relative;
  font-size: 1rem;
  line-height: 1.5;

  // @include media-breakpoint-up(md) {
  @media (min-width: var(--breakpoint-md)) {
    font-size: 1.25rem;
  }
}

// Right arrow style
.wp-block-berggrunn-collapsible {
  .wp-block-berggrunn-collapsible__heading {
    padding-right: 0.75rem;
  }

  &.is-shown {
    .wp-block-berggrunn-collapsible__heading {
      &::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;

        //
        position: absolute;
        right: 0;
        top: calc(50% - 0.15rem);
      }
    }
  }

  &.is-hidden {
    .wp-block-berggrunn-collapsible__heading {
      &::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid transparent;
        border-right: 0;
        border-bottom: 0.3em solid transparent;
        border-left: 0.3em solid;

        //
        position: absolute;
        right: 3px;
        top: calc(50% - 0.4rem);
      }
    }
  }
}

.wp-block-berggrunn-collapsible__body {
  padding-bottom: 0.75rem;
  padding-top: 0.25rem;

  > * {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
